<nav class="navbar navbar-expand-sm bg-primary navbar-light">
  <ul class="nav navbar-nav">
    <li class="active">
        <a routerLink="employees" routerLinkActive="active" class="nav-link" >Employee List</a>
        <!-- <a class="navbar-brand" href="/employees">Employee List</a> -->
    </li> 
    <li class="active">
      <a routerLink="create-employee" routerLinkActive="active" class="nav-link" >Add Employee</a>
      <!-- <a class="navbar-brand" href="/create-employee">Add Employee</a> -->
  </li> 
  </ul>
</nav>  


<h1 class="text-center">Employee Table</h1>
<div class="container">
<router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <span>All rights reserved 2024</span>
  </div>
</footer>