/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";

.footer {
    position: absolute;
    height: 70px;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
  }
